/* Define estilos globais para o documento */
* {
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove os paddings padrão */
  box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
  font-family: "Poppins", sans-serif; /* Define a fonte padrão como "Poppins" */
}

/* Define variáveis de cor e estilo */
:root {
  --cor-principal: #ad7600; /* Laranja para representar a energia e o movimento*/
  --cor-secundaria: #f0ad4e; /* Laranja para representar a energia e o movimento */
  --cor-texto-principal: #484848; /* Cinza escuro para boa legibilidade */
  --cor-fundo-claro-principal: #fffff;
  --cor-fundo-claro-secundaria: #ffffff;
  --cor-fundo-escuro: #222;
  --cor-acento: #e5e5e5;
}

/* Estiliza o corpo da página */
body {
  grid-template-columns: 1fr;
  flex-direction: column; /* Alinha os itens na vertical */
  justify-content: center; /* Centraliza os itens verticalmente */
  padding: 0; /* Remove o padding padrão */
  display: flex; /* Usa Flexbox para layout */
  font-family: "Poppins", sans-serif; /* Define a fonte padrão como "Poppins" */
  font-size: 16px; /* Tamanho de fonte base */
}


/* Define a cor de fundo para todo o header */
header {
  background-color: #ad7600;
  border: none; 
}
.contato {
  font-size: 15px;
  display: flex;
  justify-content: space-between; /* Distribui os itens igualmente no espaço disponível */
  align-items: center; /* Centralizaos itens verticalmente */
  padding: 1px;     
  background-color: #ad7600; /* Cor de fundo para a linha */
  color: #ffffff;
  gap: 0; /* Ajuste o valor de 'gap' conforme necessário */
  width: 80%; /* Ajuste a largura conforme necessário */
  max-width: 70%; /* Ajuste o valor conforme necessário */
  margin: 0 auto; /* Centraliza o container */
  font-size: 14px; /* Ajuste o tamanho da fonte */
  line-height: 1.5; /* Ajuste a altura da linha */
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contato-item i {
  margin-right: 0.5rem;
}

.contato-item a {
  color: inherit;
  text-decoration: none;
}
.contato-item span {
  color: #ffffff; /* Cor do texto */
}

/* Ocultar o texto (span) em telas menores */
@media (max-width: 768px) {
  .contato-item span {
    display: none; /* Oculta o texto */
  }

  .contato-item i {
    font-size: 1rem; /* Aumenta o tamanho dos ícones para melhor visualização em telas menores */
    display: inline-block; /* Certifica-se de que o ícone permanece visível */
  }

  .contato-item a {
    justify-content: center; /* Centraliza o ícone no link */
  }
}


.header-content {
  display: flex;
  justify-content: space-between; /* Distribui os itens logo, títulos e campo de busca */
  align-items: center; /* Adiciona para centralizar verticalmente */
  background-color: #ffffff; /* Adiciona um fundo cinza claro */
  border: none;
  padding: 0px 150px;
}
.title {
  text-align: center; /* Centraliza os textos h1 e h2 */
  margin-right: 20px;
}
.title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300; /* Poppins Light */
  font-size: 2.2rem;
  margin: 0;
  color: #ad7600; /* Cor do texto */
  text-align: center; /* Centraliza o H1 */
  padding: 0px;     

}
.title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200; /* Poppins ExtraLight */
  font-size: 12px;
  margin: 0;
  color: #484848; /* Cor do texto H2 */
  text-align: center; /* Centraliza o H2 */
  padding: 0px;     
}

.logo img {
  justify-content: space-between;
  width: 80px; /* Ajuste o tamanho da logo conforme necessário */
  height: auto;
  margin-right: 10px; /* Espaço à direita da logo */
}

.search-container {
  display: flex; /* Utiliza Flexbox para organizar os elementos em linha */
  align-items: center; /* Centraliza os itens verticalmente */
  width: 80%; /* Ocupa toda a largura disponível */
  height: 100%; /* Ocupa metade da altura */
  justify-content: space-between; /* Distribui os elementos horizontalmente */
  border-radius: 10px; /* Arredonda as bordas */
  position: relative;
  display: inline-block;
}
.search-container input {
  flex-grow: 1; /* Faz o campo de busca ocupar o máximo de espaço disponível */
  padding: 10px;
  margin-right: 10px; /* Espaço entre o campo de busca e o botão */
  border: 5px solid #ad7600;
  border-radius: 20px; /* Borda arredondada */
  color: #484848; /* Cor do texto */
  background-color: #e5e5e5;
  border-radius: 10px;
}


.search-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Espaçamento do ícone */
  transform: translateY(-50%);
  pointer-events: none; /* Impede que o ícone interfira no clique */
  font-size: 20px; /* Ajuste o tamanho do ícone */
}

#busca {
  width: 100%;
  padding: 10px 10px 10px 35px; /* Espaço para o ícone na esquerda */
  border: 4px solid #ad7600;
  border-radius: 20px; /* Borda arredondada */
  font-size: 14px;
  box-sizing: border-box;
  background-color: #e5e5e5;
  }


/* Estilo para telas menores (exemplo: abaixo de 768px) */
@media (max-width: 768px) {
  .header-content {
    text-align: center;
    padding: 5px 5px;
  }

  .search-container {
    width: 100%; /* Garante que a busca ocupe 100% da largura */
  }

  /* Oculta os títulos h1 e h2 em telas menores */
  .title {
    display: none;
  }

  /* Ajuste do tamanho da logo para centralizar em telas menores */
  .logo img {
    width: 80px; /* Diminui o tamanho da logo para telas menores */
  }
}



.slider {
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  scroll-behavior: smooth;
}

.slide {
  display: inline-block;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 300px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background-color: #777;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .slider {
    overflow-x: scroll;
    justify-content: flex-start;
  }

  .slide {
    min-width: 100%;
  }

  .pagination {
    display: block;
  }
}

/* Ajusta a navegação para telas menores */
.barranavegacao {
  display: flex;
  justify-content: space-between; /* Distribui os itens logo, títulos e campo de busca */
  padding: 5px 50px;
  margin: 0 auto; /* Centraliza a barra horizontalmente */
  background-color: #fff; /* Adiciona um fundo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center; /* Adiciona para centralizar verticalmente */
}

.barranavegacao button {
  margin: 0 auto; /* Centraliza a barra horizontalmente */
  padding: 5px 12px;
  background-color: #ad7600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.barranavegacao button:hover {
  background-color: #4CAF50;
}

#botaoAgendar {
  padding: 5px 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#botaoAgendar:hover{
  background-color: #ad7600;
}

@media screen and (max-width: 768px) {
  .barranavegacao {

      text-align: center;
      padding: 5px 5px;
  }

  #exibir-servicos {
      width: 25%;
  }
 
  .opcoes-servicos img, .opcoes-categorias img {
      width: 100px;
      height: 100px;
  }

  #servico-selecionado {
      display: block;
      margin-top: 10px;
  }
}

/* Estilos para a barra de filtros */
.barra-filtros {
  display: flex; /* Usa o modelo de layout flexbox */
  align-items: center; /* Alinha verticalmente os itens no centro */
  justify-content: space-between; /* Distribui os itens igualmente no espaço disponível */
  background-color: #ad7600; /* Cor de fundo laranja da barra de filtros */
  color: #ffffff; /* Cor do texto (branco) */
  border-bottom: 1px solid #ddd; /* Linha de borda fina embaixo da barra */
  margin: 0 auto; /* Centraliza a barra horizontalmente */
  padding: 0px 10px; /* Remove o padding superior e inferior (ajuste conforme necessário) */
  max-width: 100%; /* Garantir que a barra ocupe toda a largura disponível */
  gap: 5px; /* Espaçamento entre os itens dentro da barra de filtros */
}

/* Estilos para os botões dentro da barra de filtros */
.barra-filtros button {
  align-items: center; /* Alinha o conteúdo dos botões verticalmente no centro */
  background-color: transparent; /* Fundo transparente para os botões */
  color: #ffffff; /* Cor do texto nos botões (branco) */
  margin: 0; /* Remove margens extras dos elementos filhos */
  padding: 0; /* Remove padding interno dos elementos filhos */
  border: none; /* Remove a borda do botão */
  border-radius: 5px; /* Borda arredondada para o botão */
  cursor: pointer; /* Indica que é clicável */
}

/* Estilos para os ícones dentro dos botões da barra de filtros */
.barra-filtros button i {
  font-size: 20px; /* Tamanho do ícone */
  color: #ffffff; /* Cor do ícone (branco) */
  margin: 0; /* Remove margens extras dos elementos filhos */
  padding: 0; /* Remove padding interno dos elementos filhos */
}

/* Efeito de hover para o ícone dentro do botão */
.barra-filtros button:hover i {
  color: #ad7600; /* Altera a cor do ícone para o laranja da barra ao passar o mouse */
  text-decoration: underline; /* Aplica sublinhado ao ícone */
}

.barra-filtros button:hover {
  color: #4CAF50;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}


/* Estilo do texto para o filtro selecionado */
.filtro-selecionado {
  font-size: 14px; /* Tamanho do texto do filtro selecionado */
  color: #ffffff; /* Cor do texto do filtro selecionado */
  margin-left: 5px; /* Espaçamento à esquerda do texto do filtro */
  padding: 0px 0px; /* Remove o padding horizontal do ícone */

}

/* Classe para ocultar elementos */
.oculto {
  display: none; /* Esconde o elemento ao aplicar esta classe */
}

/* Container dos botões de ordenação */
.barra-ordenacao {
  display: flex; /* Usa o layout flexbox para alinhar os itens na horizontal */
  gap: 10px; /* Espaçamento de 10px entre os botões */
  align-items: center; /* Alinha os botões verticalmente no centro */
  justify-content: flex-start; /* Alinha os botões à esquerda do container */
  margin-bottom: 00px; /* Espaçamento abaixo dos botões */
}

/* Estilos para cada botão de ordenação */
.barra-ordenacao button {
  background-color: #ad7600; /* Cor de fundo verde */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 5px 10px; /* Espaçamento interno do botão */
  font-size: 12px; /* Tamanho da fonte */
  cursor: pointer; /* Indica que o botão é clicável */
  transition: background-color 0.3s ease; /* Transição suave de cor */
}

/* Efeito ao passar o mouse sobre os botões */
.barra-ordenacao button:hover {
  background-color: #ffffff; /* Muda a cor do botão para um verde mais escuro */
}


/* Estilos para o botão de limpar filtros */
.btn-limpar-filtros {
  background-color: #f5f5f5; /* Cor de fundo cinza claro */
  color: #333; /* Cor do texto do botão */
  border: 1px solid #ccc; /* Borda cinza clara */
  border-radius: 4px; /* Borda arredondada */
  padding: 5px 5px; /* Padding interno do botão */
  cursor: pointer; /* Indica que o botão é clicável */
  display: flex; /* Usando flexbox para alinhar ícones e texto no botão */
  align-items: center; /* Alinha o conteúdo do botão verticalmente no centro */
  gap: 5px; /* Espaçamento entre o ícone e o texto dentro do botão */
  font-size: 14px; /* Tamanho da fonte do texto no botão */
}

/* Efeito de hover para o botão de limpar filtros */
.btn-limpar-filtros:hover {
  background-color: #e5e5e5; /* Cor de fundo ao passar o mouse */
  border-color: #aaa; /* Cor da borda ao passar o mouse */
  padding: 5px 5px; /* Padding interno do botão */
}


/* Responsividade para exibição em telas menores */
@media (max-width: 768px) {
 /* Oculta os títulos h1 e h2 em telas menores */
 .filtro-selecionado  {
  display: none;
}
}

.homeconteudo {
  padding: 20px;
  background-color: #fff;
}

#homevitrine {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%; /* Ajuste a largura conforme necessário */
  background-color: #ad7600; /* Adiciona uma cor de fundo */
  padding: 20px;

}

/* Container dos serviços com rolagem lateral */
#servicos-container {
  display: flex; /* Exibe os itens na mesma linha */
  overflow-x: auto; /* Permite rolagem horizontal */
  gap: 20px; /* Espaçamento entre os serviços */
  padding: 10px;
  width: 100%; /* Garante que ocupe 100% da largura do elemento pai */
}

/* Cards de serviço */
.card-servico {
  flex: 0 0 auto; /* Não faz com que o card cresça ou encolha */
  width: auto; /* Largura fixa para cada card de serviço */
  margin-right: 20px; /* Espaçamento entre os cards */
  background-color: var(--cor-fundo-claro-principal);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  padding: 20px;
}

/* Filtros e exibição de serviços */
.opcoes-servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  gap: 1px;
  margin: 1px 0;
}

/* Cards de serviço, categoria e produto */
.opcoes-servicos > div {
  flex: 1 1 30%;
  margin: 10px;
  padding: 20px;
  background-color: var(--cor-fundo-claro-principal);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Grid principal do card de serviço */
.grid-servico {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1 parte para a coluna 1 e 2 partes para a coluna 2 */
  gap: 1px;
  align-items: center;
}

/* Primeira coluna (imagem e nome) */
.grid-coluna-1 {
  text-align: center; /* Centraliza o conteúdo da coluna 1 */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.grid-coluna-1 img {
  width: 80%; /* A imagem vai ocupar toda a largura da coluna 1 */
  height: auto; /* Mantém a proporção da imagem */
  max-width: 100%; /* Garante que a largura da imagem não ultrapasse a coluna */
  border-radius: 8px; /* Cantos arredondados */
  object-fit: cover; /* Ajusta a imagem sem distorcer */
  margin-bottom: 10px; /* Espaçamento entre a imagem e o nome */
}

.grid-coluna-2 p {
  text-align: left; /* Alinha o texto à esquerda */
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

/* Botão abaixo do grid */
.card-servico button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.card-servico button:hover {
  background-color: #0056b3;
}

.opcoes-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin: 20px 0;
}

.opcoes-categorias button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.opcoes-servicos button:hover,
.opcoes-categorias button:hover,
.opcoes-produtos button:hover {
  background-color: #4CAF50;
  color: #fff;
}


.opcoes-categorias > div {
  flex: 1 1 30%;
  margin: 10px;
  padding: 20px;
  background-color: var(--cor-fundo-claro-principal);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.opcoes-categorias img{
  width: 100%; /* Garante que as imagens ocupem 100% do espaço disponível */
  height: auto; /* Mantém a proporção das imagens */
  max-width: 50px; /* Define o limite máximo de largura para as imagens */
  object-fit: cover; /* Faz com que as imagens se ajustem sem distorção */
}

.opcoes-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 20px; /* Espaço entre os itens do grid */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  background-color: #ffffff; /* Adiciona uma cor de fundo */
  width: 80%; /* Ajuste a largura conforme necessário */
  height: auto;  
  margin: auto; /* Centraliza o container horizontalmente */
  margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
  justify-content: center;
  padding: 20px;
}

.opcoes-produtos > div {
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  align-items: center;
  justify-content: center;
  gap: 5px; /* Espaço entre os itens da grade */ 
  border: 2px solid #ad7600;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  background-color: #ffffff; /* Adiciona um fundo cinza claro */
  width: auto; /* Largura fixa do card */
  height: auto; /* Altura fixa do card */
}

.opcoes-produtos img {
  width: 150px; /* Ocupa toda a largura do card */
  height: 150px; /* Altura fixa da imagem */
  object-fit: cover; /* Faz com que a imagem preencha todo o espaço disponível */
  align-items: center; /* Centraliza os itens horizontalmente */
}

/* Estilo geral para o grid de detalhes */
.grid-detalhes {
  position: relative; /* Necessário para posicionar o botão dentro do card */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Define duas colunas com proporção igual */
  gap: 5px; /* Espaçamento entre as colunas */
  row-gap: 5px; /* Espaçamento entre as linhas */
  padding: 15px; /* Espaçamento interno para o conteúdo */
  background-color: #fff; /* Fundo branco */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Coluna 1: Conteúdo centralizado e alinhado */
.grid-coluna-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Coluna 2: Conteúdo espaçado e alinhado */
.grid-coluna-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

/* Imagens em ambas as colunas */
.imagem-servico,
.imagem-produto {
  max-width: 100%; /* Imagem responsiva */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 5px; /* Arredonda os cantos da imagem */
  margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

/* Botão de fechar */
.fechar-card {
  position: absolute;
  top: 0px;
  right: 1px;
  background-color: #ff0000;
  border: none;
  font-size: 18px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10; /* Garante que o botão esteja acima dos outros elementos */
  margin: 0; /* Remove margens extras dos elementos filhos */
}

.fechar-card:hover {
  background-color: #ff0000;
  color: #ffffff;
}

/* Botão geral */
button {
  margin-top: 15px;
  padding: 10px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Descrições em negrito */
.descricao-meta {
  font-size: 14px; /* Ajuste do tamanho da fonte */
  line-height: 1.5; /* Melhor espaçamento entre linhas */
  margin-bottom: 10px; /* Espaçamento entre os parágrafos */
}


/* Responsividade para exibição em telas menores */
@media (max-width: 768px) {
  .opcoes-servicos,
  .opcoes-categorias,
  .opcoes-produtos {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%; /* Ajuste a largura conforme necessário */
  }
  .opcoes-servicos > div,
  .opcoes-categorias > div,
  .opcoes-produtos > div {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      width: 100%; /* Ajuste a largura conforme necessário */
  }
  .grid-servico {
    grid-template-columns: 1fr; /* Altere para 1 coluna */
    text-align: center; /* Centralize o texto e a imagem */
  }

  .grid-coluna-1, .grid-coluna-2 {
    text-align: center;
  }
  .fechar-card {
    top: 10px;
    right: 10px;
    font-size: 16px;
}

}

@media (max-width: 480px) {
  .homevitrine {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%; /* Ajuste a largura conforme necessário */
}

  .opcoes-servicos,
  .opcoes-categorias,
  .opcoes-produtos {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%; /* Ajuste a largura conforme necessário */
  }

  .opcoes-servicos > div,
  .opcoes-categorias > div,
  .opcoes-produtos > div {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      width: 100%; /* Ajuste a largura conforme necessário */
  }
}


/* Home Vitrine */
.homevitrine {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%; /* Ajuste a largura conforme necessário */
}

/* Home Conteúdo */
.homeconteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}


/* Container principal do rodapé */
footer {
  background-color: #f5f5f5;
  padding: 0px;
}

/* Container do rodapé com layout em 2 colunas */
.rodape-container {
  gap: 20px; /* Espaço entre os itens do grid */
  display: flex;
  justify-content: space-between; /* Espaço entre as colunas */
  background-color: #ffffff;
  border: none;
  padding: 1px;
  transition: all 0.3s ease; /* Suaviza mudanças de layout */
  margin: 0 auto; /* Centraliza a barra horizontalmente */

}

/* Coluna de títulos padrão (horizontal) */
.coluna-titulos {
  display: flex;
  flex-direction: row; /* Horizontal */
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;  
}

/* Quando .coluna-conteudo está visível (vertical) */
.rodape-container.exibe-conteudo .coluna-titulos {
  flex-direction: column; /* Vertical */
  max-width: 250px; /* Largura limitada */
  flex: 0 0 auto; /* Fixa o tamanho */
  gap: 10px;
  padding: 5px 5px;
  font-size: 12px;  
}

/* Estilo de cada título individual */
.titulo-principal {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 5px 30px;
  background-color: #ad7600; /* Fundo laranja ao passar o mouse */
}

/* Coluna de conteúdo */
.coluna-conteudo {
  flex: 1; /* Ocupa o restante do espaço quando visível */
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.5;
  display: none; /* Oculta por padrão */
  transition: all 0.3s ease; /* Suaviza transições */
  color: #484848;
}

/* Estilo dos subtítulos */
.subtitulo {
  font-size: 16px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.subtitulo:hover {
  color: #ad7600; /* Cor  ao passar o mouse */
  text-decoration: underline;
}

/* Botão de expansão (telas menores) */
.botao-expandir {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  color: #007BFF;
}

.botao-expandir:hover {
  color: #0056b3;
}

/* Quando coluna-conteudo está oculta (horizontal) */
.rodape-container:not(.exibe-conteudo) .coluna-titulos {
  flex-direction: row; /* Horizontal */
  flex: 1; /* Ocupa todo o espaço */
  max-width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
  .rodape-container {
    flex-direction: column; /* Itens em uma única coluna */
  }

  .coluna-titulos {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%; /* Ajuste a largura conforme necessário */
    display: grid;
    align-items: center;
    gap: 10px; /* Reduz o espaçamento */
  }

  .rodape-container.exibe-conteudo .coluna-titulos {
    flex-direction: column; /* Vertical se exibe-conteudo estiver presente */
  }

  .titulo-principal {
    flex: 1 1 100%; /* Título ocupa 100% do espaço disponível */
    min-width: unset; /* Remove largura mínima */
    text-align: center; /* Centraliza o texto horizontalmente */
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente */
    white-space: nowrap; /* Evita quebra de linha no texto */
    margin: 0; /* Remove margens desnecessárias */
    padding: 0px 5px;

  }

  .botao-expandir {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 0; /* Remove margens */
    color: #ffffff;
    padding: 0; /* Remove o padding para não haver espaço ao redor do botão */
  }

  .botao-expandir:hover {
    color: #ad7600;
    background-color: #f5f5f5;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .titulo-principal {
    flex: 1 1 100%; /* Título ocupa 100% do espaço em telas muito pequenas */
    font-size: 14px;
    margin-left: 0px;
  }

  /* Estilo para os subtítulos ocultos */
  .subtitulo.oculto {
    display: none;
  }

  /* Estilo do botão de expansão */
  .botao-expandir {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0; /* Remove margens */
    color: #ffffff;
  }

  .botao-expandir:hover {
    color: #ad7600;
    background-color: #f5f5f5;
    font-size: 16px;
  }
}
